/* stylelint-disable indentation */

/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

:root {
    --color-grey: #e6e6fa;
    --color-light: lightsalmon;
    --color-main: tomato;
    --color-dark: firebrick;
    --color-border: black;
    --color-blue: #78a4d9;
    --color-dark-blue: steelblue;
    --color-of-star: #ff0;
    --font-size-small: 0.8em;
    --font-size-main: 0.9em;
    --font-size-for-cols: 1.2em;
    --font-size-medium: 1.3em;
    --font-size-big: 1.8em;
    --font-size-very-big: 2.4em;
    --margin-in-add-teacher: 16px;
}

.wrapper {
    margin: 0 auto;
    font-family: Roboto, serif;
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    text-align: center;
}

.popup-add-teacher {
    display: block;
    margin: 0 auto;
    width: 30%;
    max-height: 650px;
    padding: 30px 75px;
    font-size: var(--font-size-main);
    position: fixed;
    transition: 0.5s all;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
    top: -1400px;
    left: 35.5%;
    background-color: white;
}

.form-add-teacher-field,
#get-user-country {
    display: block;
    width: 100%;
    height: 28px;
    line-height: 30px;
    margin: 5px 0 var(--margin-in-add-teacher) 0;
    text-align: left;
}

.form-add-teacher-label {
    display: block;
    text-align: left;
}

#country,
#get-user-country {
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 2px;
}

#get-user-country {
    margin-left: 10px;
    margin-top: -5px;
}

.genders {
    display: block;
    text-align: left;
    margin-bottom: var(--margin-in-add-teacher);
}

.gender {
    float: right;
}

.gender::after {
    clear: right;
}

.colors {
    display: block;
    text-align: left;
    margin-bottom: 30px;
}

#color {
    height: 25px;
    width: 60px;
    float: right;
    margin-top: -7px;
}

.all-colors {
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: radial-gradient(at center, red, orange, limegreen, deepskyblue, purple);
    margin-right: 7px;
}

.all-colors::after {
    clear: right;
}

.form-add-teacher-title {
    font-size: var(--font-size-big);
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

.showingPopup {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.close-add-teacher,
.close-card-of-teacher {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotate(45deg);
    font-size: 20px;
    cursor: pointer;
}

.popup-card-of-teacher {
    display: grid;
    grid-template-columns: 1fr 2fr 200px;
    grid-template-rows: 2fr 2fr 1fr 1fr 1fr 2fr 2fr 1fr;
    justify-items: left;
    align-items: center;
    margin: 0 9.5% 0 9.5%;
    max-height: 600px;
    padding: 20px 75px;
    font-size: var(--font-size-main);
    position: fixed;
    transition: 0.5s all;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
    top: -5000px;
    background-color: white;
}

.teacher-info-title {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    font-size: var(--font-size-big);
    width: 100%;
}

.teachers-info-img {
    grid-column: 1 / 1;
    grid-row: 2 / 6;
    align-self: start;
    margin-right: 50px;
    width: 300px;
    height: 300px;
}

.teacher-info-name {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    font-size: var(--font-size-very-big);
    align-self: start;
}

.teacher-info-star-img {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    align-self: start;
    cursor: pointer;
}

.teacher-info-map {
    width: 100%;
    height: 200px;
    display: grid;
    grid-column: 3 / 3;
    grid-row: 3 / 6;
    align-self: start;
}

.teacher-info-city-country {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    align-self: start;
}

.teacher-info-age-gender {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    align-self: start;
}

.teacher-info-email {
    grid-column: 2 / 2;
    grid-row: 5 / 5;
    color: var(--color-blue);
    align-self: start;
}

.teacher-info-tel {
    grid-column: 2 / 2;
    grid-row: 6 / 6;
    align-self: start;
}

.teacher-info-notes {
    grid-column: 1 / 3;
    grid-row: 7 / 7;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-align: left;
}

.teacher-info-toggle-map {
    grid-column: 1 / 1;
    grid-row: 8 / 8;
    color: var(--color-blue);
    border-bottom: 1px dashed var(--color-blue);
    cursor: pointer;
}

.main {
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    padding: 40px 7.5%;
    font-family: Roboto, serif;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button,
.submit,
.add-teacher-button,
.next-10-button {
    width: fit-content;
    height: fit-content;
    padding: 15px 22px;
    border-radius: 0;
    border: 1px solid var(--color-main);
    background-color: white;
    color: var(--color-main);
    font-weight: bold;
    font-size: var(--font-size-medium);
    text-align: center;
    cursor: pointer;
}

.add-teacher-button {
    margin-top: 43px;
}

#btn-add-teacher {
    width: 100%;
}

button:hover,
.submit:hover,
.add-teacher-button:hover,
.next-10-button:hover {
    background-color: var(--color-main);
    color: white;
}

.one-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-header-title {
    font-size: 3em;
    color: var(--color-grey);
    text-shadow: 2px 1px var(--color-border), -2px -1px var(--color-light);
    font-family: "Times New Roman", serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-stretch: extra-expanded;
}

.main-header-title:hover {
    text-shadow: 2px 1px var(--color-border), -2px -1px var(--color-main);
}

.header-footer__section-nav {
    align-items: center;
    justify-content: space-between;
    max-width: 1150px;
    padding-top: 60px;
}

a {
    text-decoration: none;
}

.header-footer__list {
    display: flex;
    color: white;
    list-style-type: none;
}

.header-footer__list-item {
    margin-right: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.main-header__list-item-text {
    font-size: var(--font-size-medium);
    color: var(--color-main);
}

.main-header__list-item-text:hover {
    color: var(--color-dark);
}

.search-field {
    border: 1px solid var(--color-border);
    border-radius: 2px;
    font-size: var(--font-size-main);
    padding: 12px 30px 12px 5px;
}

.search-button {
    font-size: var(--font-size-main);
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 20px;
    cursor: pointer;
}

.for-hr {
    margin: 40px 25% 30px;
    height: 2px;
    border: 0;
    background-color: var(--color-border);
}

.section-header {
    font-size: var(--font-size-big);
}

.section-teachers__filter,
.section-teachers__get {
    float: left;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.filter {
    margin-left: 30px;
}

.section-teachers__filter-1,
.section-teachers__get-1 {
    color: darkgray;
}

.space {
    clear: both;
}

#filter-countries {
    text-align: left;
    margin-top: 20px;
}

#apply-filter,
#get-users {
    width: 150px;
}

.teachers__content-item {
    float: left;
    margin: 22px 4.3%;
}

.teachers__item-img,
.teachers__favorites-item-img {
    border: 4px solid var(--color-light);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-size: 25px;
    text-align: center;
    color: var(--color-main);
    font-weight: bold;
    line-height: 110px;
    cursor: pointer;
}

.teachers__item-img:hover,
.teachers__favorites-item-img:hover {
    border-color: var(--color-dark);
    color: var(--color-dark);
}

.teachers__item-name {
    font-size: var(--font-size-medium);
    margin-top: 22px;
    text-align: center;
    line-height: 1.3;
}

.teachers__item-country {
    font-size: var(--font-size-small);
    text-align: center;
    margin-top: 15px;
}

.teachers__item-two-pictures {
    position: relative;
}

.teachers__item-two-pictures .teachers__item-img {
    position: relative;
}

.star-img {
    position: absolute;
    top: 0;
    color: #ee3;
    font-size: var(--font-size-big);
    left: 105px;
}

.country-chart-container {
    margin: 30px 27%;
}

.gender-chart-container {
    margin: 30px 31%;
}

.age-chart-container {
    margin: 30px 30%;
}

.chart-name {
    font-size: var(--font-size-medium);
}

.section-statistics__content {
    margin-top: 40px;
}

.section-statistics__table {
    font-size: var(--font-size-main);
}

.section-statistics__table-name-of-col {
    font-size: var(--font-size-for-cols);
}

table {
    width: 100%;
    display: inline-table;
}

.section-statistics__table-tr {
    display: none;
}

th {
    border-bottom: 1px solid black;
    vertical-align: center;
    padding: 12px;
}

th:hover {
    border-bottom: 5px solid black;
    background-color: var(--color-grey);
}

td {
    vertical-align: center;
    padding: 9px;
}

table th:first-child {
    text-align: left;
    padding-left: 15px;
}

table td:first-child {
    text-align: left;
    padding-left: 15px;
}

table tr:nth-child(even) {
    background-color: var(--color-grey);
}

.paginator {
    color: var(--color-dark-blue);
    font-size: var(--font-size-main);
    margin-top: 30px;
    text-align: left;
    padding-left: 15px;
}

.paginator_active {
    color: var(--color-dark);
}

.paginator > span {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.section-about__text {
    font-size: var(--font-size-main);
    text-align: left;
    margin-top: 50px;
}

.footer__list-item-text {
    font-size: var(--font-size-medium);
    color: var(--color-blue);
}

.footer__list-item-text:hover {
    color: var(--color-dark-blue);
}

.carousel {
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
}

#teachers__favorites-content-item {
    width: 200px;
    height: 300px;
    display: block;
}

.arrow {
    font-size: 5em;
    color: darkgray;
    background: none;
    border: 0;
}

.arrow:hover {
    color: var(--color-border);
    cursor: pointer;
}

.teachers__favorites-content-item-item {
    float: left;
    width: 20%;
}

.section-favorites__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 768px) {
    .popup-add-teacher {
        width: 90%;
        left: 5%;
    }

    .popup-card-of-teacher {
        width: 90%;
        margin: 0 2% 0 2%;
    }

    .teachers-info-img {
        width: 100%;
        height: auto;
    }

    .one-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-footer__section-nav {
        justify-content: center;
    }

    .header-footer__list {
        display: flex;
        flex-direction: column;
    }

    .header-footer__list-item {
        margin: 0.5em 0;
    }

    .section-favorites__content,
    .teachers__favorites-content-item-item {
        clear: both;
        width: 100%;
    }

    .section-favorites__content {
        display: flex;
        flex-direction: column;
    }

    .section-teachers__filter,
    .section-teachers__get {
        display: flex;
        justify-content: center;
    }

    .section-statistics__table {
        font-size: 0.6em;
    }
}
